<style type="text/css">
		*{
			font-family: 'Open Sans', sans-serif;
		}
		.wrap {
			border: solid;
			width: 900px;
			margin: auto;
		}
		.wrap2{
			width:800px;
			margin: auto;
		}
		.apple > img{
			width: 400px;
			padding: 20px;
			margin: auto;
		}
		.pricefont{
			font-size: 18px;
		}
		.sumit{
			text-align:center;
			padding: 10px;
		}
	</style>